* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout index.html*/

body {
    background: linear-gradient(to right, #032E42, rgb(0, 0, 0), rgb(15, 15, 15), #032E42);
    font-family: sans-serif;
} 

.info-bem-vindo {
    text-align: center;
    margin-top: 150px;
}

.container-index {
    text-align: center;
    min-height: 75vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
}

.info-bem-vindo h1 {
    color: #DAA520;
    width: 100%;
    font-size: 50px;
}

.container-menu {
    position: absolute;
    flex-direction: column;
    display: flex;
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    align-items: center;
    background: rgb(24, 24, 24);
    box-shadow: 1px 1px #DAA520;
}


.container-menu h1 {
    color: #DAA520;
    margin-top: 50%;
    font-size: 30px;
    max-width: 455px;
}

.menu-opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu-opcoes a {
    margin: 10px;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#DAA520;
    border-radius: 20px;
    text-decoration: none;
    color: #0D3638;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #0D3638;
    transition: background-color 0.6s ease, 
            color 0.6s ease, 
            border 0.6s ease;
}

.menu-opcoes a:hover {
    background: #313131;
    color: #DAA520;
    border: 1px solid #fff;
}


/* */
